<div class="card">
    <div class="card-header">
        {{ tituloPagina }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filtrar por:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="filtro" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtrado por: {{ filtro }}</h4>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf="produtos.length">
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click)="alterarVisibilidadeImagem()">
                                {{ exibirImagens ? "Ocultar" : "Exibir" }} Imagem
                            </button>
                        </th>
                        <th>Produto</th>
                        <th>Código</th>
                        <th>Disponibilidade</th>
                        <th>Preço</th>
                        <th>Classificação de 5 Estrelas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let produto of produtosFiltrados">
                        <td>
                            <img *ngIf="exibirImagens"
                                 [src]="produto.imagem" 
                                 [title]="produto.nomeProduto"
                                 [style.width.px]="larguraImagemProduto"
                                 [style.margin.px]="margemImagemProduto">
                        </td>
                        <td>{{ produto.nomeProduto }}</td>
                        <td>{{ produto.codigoProduto | lowercase | converteParaEspaco:"-" }}</td>
                        <td>{{ produto.dataLancamento }}</td>
                        <td>{{ produto.preco | currency}}</td>
                        <td>{{ produto.classificacao }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>